language: php
php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
before_script:
    - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    # Install dev requirements
    - composer install 
